.header{
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    padding: 0 1% 0 18px;
}

.user-clicked {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
    padding: 0 18px 0 18px;
}
.user:hover{
    cursor: pointer;
}

.user-name{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.user-name .down-icon{
    height: 2.5vh;
    padding-left: 5px;
}

.user-name .up-icon{
    height: 1vh;
    padding-left: 5px;
}

.profile-content{
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #292929;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 50px;
    right: 0;
    width: 150px;
    height: 50px;
    padding: 0 18px 0 18px;
    background-color: #ffffff;
}

.profile-content:hover{
    cursor: pointer;
}