.story{
    height: auto;
    background-color: #fff;
    width: 100%;
    border: solid 1px #e0e0e0;
    border-radius: 3px;
    margin-top: 6px;
}

.story .story-logo{
    width: 50px;
    padding-left: 8px;
    display: flex;
    align-items: center;
}

.story-content{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px;
}

.story-items{
    display: flex;
    align-items: center;
    width: 100%;
}


.story-text{
    margin-left: 18px;
    padding-right: 12px;
    text-align: left;
    width: 90%;
}

.story-text h4{
    margin: 5px;
    color: #292929;;
}
.story-text h4:hover{
    cursor: pointer;
}

.followers .hours{
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #8c8c8c;
}

.twitter-followers{
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.twitter-followers i{
    color: #55acee;
}

.score {
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 35px;
    border-radius: 5px;
    background-color: #56b467;
}

.arrow i{
    font-size: 30px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #d2d2d2;
}

.arrow{
    width: 80px;
}

.arrow:hover{
    cursor: pointer;
}
.description {
    margin-left: 82px;
    width: 80%;
}
.description p{
    margin: 5px 0;
    text-align: left;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #666666;
}

.more, .less{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.more h4, .less h4{
    margin: 5px;
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3971c1;
}

.more i, .less i{
    color: #3971c1;
}

.menu-bar{
    width: 100%;
    height: 45px;
    border-radius: 3px;
    background-color: #f7f7f7;
    border-top: solid 1px #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bookmark h6, .like h6, .dislike h6{
    margin: 0;
    font-family: Lato;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666666;
}

.bookmark i, .like i, .dislike i{
    color: #666666;
}

.like{
    padding: 0 30px;
}
.dislike{
    margin-right: 15px;
}

.bookmark:hover, .like:hover, .dislike:hover{
    cursor: pointer;
}

