.main{
    display: flex;

}

.left-side{
    width: 70%;
}
.left-content{
    padding: 28px 50px;
    background-color: #f7f7f7;
}

.content-header {
    font-family: Lato;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #176bad;
    margin: 0;
}

.content{
    padding-top: 20px;
}

.right-side{
    width: 30%;
    background-color: #eeeeee;
}

@media screen
and (min-device-width: 1024px)
and (max-device-width: 1920px) {
    .menu-icon{
        display: none;
    }


    .more-less{
        display: none;
    }
}

@media screen
and (min-device-width: 768px)
and (max-device-width: 1024px){

    .menu-icon{
        display: none;
    }

    .right-side{
        display: none;
    }

    .left-side{
        width: 100%;
    }
    
    .user-clicked {
        background-color: #eee;
    }
    
    .profile-content{
        background-color: #eee;
    }

    .story-text{
        width: 90%;
    }


    .more-less{
        display: none;
    }
}

@media screen
and (min-device-width: 320px)
and (max-device-width: 767px){

    .more-less{
        display: block;
    }

    .story-text{
        width: 70%!important;
    }
    .right-side{
        display: none;
    }

    .left-side{
        width: auto;
    }

    .left-content{
        width: auto;
        padding: 0 10px;
    }

    .user{
        padding: 3%;
    }
    .user-name h4{
        display: none;
    }

    .profile-content, .user-clicked, .user{
        width: auto;
    }

    .content{
        padding: 10px;
    }

    .content-header{
        padding-top: 10px;
        padding-left: 10px;
    }

    .score{
        position: absolute;
        right: 25px;
    }


    .arrow{
        display: none;
    }

    .description{
        width: 60%!important;
    }


}


